* {
  padding: 0px;
  margin: 0px;
}

:global(html, body) {     
    margin: 0px;
    padding: 0px;
	border: 0px;
	box-sizing: border-box;
}

main {
	padding: 0px;
	border: 0px;
	margin: 0px;
	gap: 0px;
}

@font-face {
	font-family: 'FriendlySansFont';
	src: url('/src/assets/fonts/friendly-sans-font/FriendlySans-8OxvB.ttf') format('truetype');
}

:root {
	font-size: 16px;
	font-family: 'Tahoma';
}