* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'FriendlySansFont';
	src: url('/src/assets/fonts/friendly-sans-font/FriendlySans-8OxvB.ttf') format('truetype');
}

:root {
	font-size: 16px;
	font-family: 'Tahoma';
}